.navigation {
  display: table;
  line-height: 60px;
}

h1 {
  text-align: left;
  font-size: 50px;
  margin-top: 20px auto;
}

h2 {
  text-align: left;
  font-size: 36px;
  margin: 20px auto;
}

.navigation__logo {
  max-width: 150px;
}

.header-container__pic {
  max-width: 100%;
}

main img {
    width: 90%;
}

.program img {
  display: none;
}
.program p {
  margin-left: auto;
}
.networking__item img{
  height: auto;
}

